@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


header div.hero {
    background-image: url("../img/Fiesta_en_playa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    
    text-align:center;
  
  }

nav, #btnForm1 , #btnForm2{
    background-color: orange;
  }

footer{
    background-color: orange;
  }

header div.hero div{
     min-height: 50vh;
  }

.title, h2, label{
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
}
.card img{
    width:100%;
  }

form {
    font-size:1rem !important;
  }